@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo-Regular.ttf');
}
@font-face {
    font-family: 'Rye';
    src: url('../fonts/Rye-Regular.ttf');
}

.root{
    -fx-font-family: Arvo, Serif;
    -fx-background-color: #35654d;
}

.card{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-background-radius: 4px;
}
.label{
    -fx-text-fill: white;
}
.error{
    -fx-border-color: red;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
}
.solved{
    -fx-border-color: lightgreen;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
}
#label{
    -fx-font-size: 15px;
}
.button{
    -fx-font-size: 14px;
}
.title{
    -fx-font-size: 35px;
    -fx-font-family: Rye;
}
.rules-title{
    -fx-font-size: 25px;
}
.text-area{
    -fx-text-fill: white;
    -fx-background-color: #35654d;
}